.rank {
    background-color: #74498d;
    background-color: #ab4de0;
    background-color: #b970e4;
    background-color: #bf8bdd;
    background-color: #c6a8d8;
    background-color: #e0b8f7;

    background-color: #4230a8;
    background-color: #5a3dfa;
    background-color: #634de0;
    background-color: #7d6be0;
    background-color: #8478c5;

    background-color: #009cb8;
    background-color: #35b8f5;
    background-color: #56c9dd;
    background-color: #98deeb;
    background-color: #a4eaf7;
    background-color: #b3dbe2;
    
    
}